
body{

  background-color: DodgerBlue;
}


.titulo {
    text-align: center;
    color: #333;
  }
  
  .etiqueta {
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 5px;
  }
  
  .boton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #estilo {
    margin: 20px auto;
    width: 300px;

  }
  
  .flex-container {
    display: flex;
    /*flex-wrap: nowrap;*/
    flex-wrap: wrap; 
    justify-content: center; /* Centra horizontalmente */
   background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: calc(13.33% - 20px); /* Establecemos un ancho máximo con margen */
    /*width: 100px;*/
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .divMargen {
    
    margin: 20px auto; /* Margen automático horizontal y 20px arriba y abajo */
    padding: 10px;
    border: 2px solid #000;
    max-width: 1500px;
    max-height: 1500px;
    background-color: DodgerBlue;
    display: flex; /* Utilizar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    

}


